header,
footer {
    overflow: hidden;
}

img {
    height: auto;
    max-width: 100%;
}

.background-home {
    background: url('../img/img_home_desktop.jpg') no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
}

.heading-home {
    padding-top: 20px;
    position: relative;
    text-align: center;
}

.background-wall {
    background-color: #d8e1e7;
}

.background-add {
    background: url('../img/img-add-desktop.jpg') no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
}

.heading-add {
    max-width: 620px;
    height: 48px;
    background-color: #fafafb;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

h2 {
    font-family: latobold;
    font-size: 17px;
    text-align: center;
    color: #363636;
    margin-top: -6px;
}

.clearfix {
    clear: both;
}

.grid,
.row,
.col {
    box-sizing: border-box;
}

.row,
.col {
    overflow: hidden;
}

.grid {
    margin: 0 auto;
    max-width: 100%;
}

.row {
    margin: 0 -20px;
}

.col {
    padding: 20px;
}

@media all and (min-width: 620px) {
    .col {
        float: left;
    }
    .col-6 {
        width: 100%;
    }
    .col-5 {
        width: 83.33333333333%;
    }
    .col-4 {
        width: 66.66666666667%;
    }
    .col-3 {
        width: 50%;
    }
    .col-2 {
        width: 33.33333333333%;
    }
    .col-1 {
        width: 16.66666666667%;
    }
}

.section_1 {
    color: #e9e8e2;
    font-size: 16px;
    font-family: latolight;
    text-align: center;
    line-height: 19px;
    text-indent: 4px;
    margin-top: 10px;
    margin-left: 33px;
    margin-right: 33px;
}

.section_2 {
    margin-top: 17px;
    margin-left: 12%;
    margin-right: 12%;
    background-color: #9e9e8f;
    border-radius: 4px;
    padding-bottom: 11px;
    padding-left: 2%;
    padding-top: 3%;
    max-width: 1024px;
    text-align: center;
}

.section_3 {
    margin-top: 6%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #1f9c69;
    border: none;
    color: #ffffff;
    text-align: center;
    border-radius: 4px;
    height: 41px;
    max-width: 577px;
}

.section_4 {
    max-width: 75%;
    font-size: 17px;
    height: 39px;
    margin-bottom: 10px;
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 12%;
    border: none;
    border-radius: 4px;
    background-color: #19a2ec;
    text-align: center;
}

.section_5 {}

.section_6 {}

.section_7 {}

.btn-inscription {
    font-size: 14px;
    font-family: latobold;
    background-color: #1f9c69;
    border: none;
    color: #ffffff;
}

.form-inscription {
    margin-top: -10px;
}

.email {
    margin-bottom: 11px;
    margin-left: 18px;
    margin-right: 38px;
    background-color: #fefefe;
    border: none;
    text-align: left;
    border-radius: 4px;
    height: 41px;
    min-width: 100px;
}

.input-email {
    font-family: latoregular;
    font-size: 14px;
    background-color: #fefefe;
    border: none;
    color: #85887c;
    margin-top: 10px;
    max-width: 90px;
}

.password {
    margin-bottom: 11px;
    margin-left: 18px;
    margin-right: 38px;
    background-color: #fefefe;
    border: none;
    text-align: left;
    border-radius: 4px;
    height: 41px;
    min-width: 100px;
}

.input-password {
    font-family: latoregular;
    font-size: 14px;
    background-color: #fefefe;
    border: none;
    color: #85887c;
    margin-top: 10px;
    max-width: 90px;
}

.connexion {
    margin-bottom: 11px;
    margin-left: 10%;
    margin-right: 50px;
    background-color: #0288d1;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 41px;
    min-width: 100px;
}

.input-connexion {
    font-family: latobold;
    font-size: 14px;
    background-color: #0288d1;
    border: none;
    color: #feffff;
    margin-top: 10px;
    padding-right: 10px;
    max-width: 90px;
}

.link {
    color: #395665;
    font-size: 10px;
    text-align: center;
}

.link a {
    color: #0e415c;
    font-family: latobold;
}

.col a {
    display: block;
}

@media all and (max-width: 620px) {
    .foot {
        display: none;
    }
    .section_4 {
        font-size: 13px;
    }
}

.foot {
    background-color: #0f100b;
    text-align: center;
    margin-top: 12%;
}

.foot a {
    font-family: latoregular;
    font-size: 14px;
    color: #d4d4d4;
}

.copyright {
    color: #d4d4d4;
    font-family: latolight;
    font-size: 14px;
}

#recherche {
    min-width: 203px;
    height: 41px;
    margin-left: 3%;
    margin-right: 7%;
    background-color: #f1f1f2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#recherche .loupe {
    background: url('../img/img-loupe.png') no-repeat;
    width: 26px;
    height: 26px;
    float: left;
    margin-top: 12px;
    margin-left: 5px;
}

#recherche input[type=text] {
    margin-left: 5px;
    border: none;
    height: 39px;
    background-color: #f1f1f2;
}

#recherche input {
    border: none;
}

.menu {
    width: 53px;
    float: right;
    margin-top: -41px;
    margin-right: 20px;
}

.page {
    left: 0;
    position: relative;
    transition: all 0.3s;
}

.page-menu-open {
    left: 50%;
}

@media all and (min-width: 1082px) {
    .menu {
        display: none;
    }
    #recherche {
        display: none;
    }
    nav {
        background: #0288d1;
        left: 0;
        position: absolute;
        margin: 0;
        overflow: hidden;
        top: 0;
        width: 100%;
        max-height: 17%;
    }
    .nav {
        list-style: none;
        margin: 0;
        text-align: center;
        width: 60%;
        float: left;
        padding-top: 41px;
    }
    .nav-item,
    .nav-item > a {
        padding: 1%;
        display: inline;
    }
    .logo-wall {
        background-color: #000000;
        height: 100px;
        margin-left: 20px;
        float: left;
        text-align: center;
        width: 15%;
        padding-top: 25px;
    }
    .search {
        float: right;
        margin-top: 40px;
        color: #ffffff;
    }
    .search > img {
        float: left;
    }
    .search-field {
        background-color: #0288d1;
        border: none;
        font-family: latoregular;
        font-size: 14px;
        color: #ffffff;
        margin-left: 5px;
    }
}

@media all and (max-width: 1082px) {
    nav {
        height: 100%;
        left: -50%;
        margin: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 50%;
    }
    .nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-item > a {
        border-bottom: 1px solid #000000;
        display: block;
        padding: 15px 38px;
        background-color: #0288d1;
    }
    .nav-item > a,
    .nav-item > a:visited {
        color: #fff;
        text-decoration: none;
    }
    .logo-wall {
        display: none;
    }
    .search {
        display: none;
    }
    .section_4 {
        margin-top: 3%;
    }
}

.input-ajout {
    border: none;
    padding-top: 8px;
    background-color: #19a2ec;
    color: #ffffff;
    font-family: latoregular;
}

.post {
    width: 317px;
    height: 380px;
    background-color: #f1f1f2;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: latobold;
    text-align: center;
    color: 363636;
    padding-top: 12px;
    padding-bottom: 0px;
    font-size: 15px;
}

.bloc1 {
    margin-top: 10px;
    margin-left: 19px;
}

.bloc1 p {
    font-family: latoregular;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 32px;
}

.bloc2 {
    margin-left: 19px;
    width: 60px;
    float: left;
    margin-top: 8px;
}

.bloc2 p {
    float: right;
    font-family: latoregular;
    font-size: 9px;
    margin-top: 1px;
}

.bloc2 img {
    float: left;
}

.bloc3 {
    float: right;
    width: 112px;
    margin-right: 10px;
    margin-top: 8px;
}

.bloc3 p {
    float: right;
    font-family: latoregular;
    font-size: 10px;
    margin-top: 0;
}

.bloc3 img {
    float: left;
}

.bar {
    background: url('../img/img-traits-separation-desktop.png') no-repeat;
    background-color: #fafafb;
    height: 41px;
    margin-top: 41px;
}

.icone1 {
    float: left;
    margin-left: 39px;
    margin-top: 8px;
    max-width: 30px;
}

.icone2 {
    float: left;
    margin-left: 75px;
    margin-top: 7px;
    width: 30px;
}

.icone3 {
    float: right;
    margin-right: 37px;
    margin-top: 5px;
    width: 30px;
}

.add-container {
    max-width: 620px;
    height: 446px;
    background-color: #f1f1f2;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #d5d5d5;
}

.input-titre-humeur {
    min-width: 94%;
    height: 41px;
    background-color: ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: latoregular;
    font-size: 14px;
    color: #8c8a8a;
}

.input-plus {
    min-width: 94%;
    height: 182px;
    background-color: ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: latolight;
    font-size: 60px;
    color: #8c8a8a;
}

.text-description {
    min-width: 94%;
    height: 183px;
    background-color: ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 8px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: latoregular;
    font-size: 14px;
    color: #8c8a8a;
}

.btn-edit {
    min-width: 29%;
    height: 40px;
    float: left;
    margin-left: 3%;
    margin-top: 8px;
    background: url('../img/img-crayon.png') no-repeat;
    border: none;
    border-radius: 4px;
}

.btn-geoloc {
    min-width: 29%;
    height: 40px;
    float: left;
    margin-left: 36%;
    margin-top: 8px;
    background: url('../img/img-bouton-geo.png') no-repeat;
    border: none;
    border-radius: 4px;
}

.btn-envoi {
    min-width: 29%;
    height: 40px;
    float: left;
    margin-left: 3%;
    margin-top: 8px;
    background: url('../img/img-bouton-envoyer.png') no-repeat;
    border: none;
    border-radius: 4px;
}